<a href="https://colab.research.google.com/github/isawich/2025_PBO_TI1C/blob/main/Jobsheet_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Praktikum 1: Tipe Data Dasar

In [ ]:
# 1. Number (int, float, complex)
# Integer (int)
angka_int = 10
print("angka_int =", angka_int, "->", type(angka_int))

angka_int = 10 -> <class 'int'>

In [ ]:
# Float
angka_float = 3.14
print("angka_float =", angka_float, "->", type(angka_float))

angka_float = 3.14 -> <class 'float'>

In [ ]:
# Complex
angka_complex = 2 + 3j
print("angka_complex =", angka_complex, "->", type(angka_complex))

angka_complex = (2+3j) -> <class 'complex'>

In [ ]:
# 2. Boolean
is_active = True
print("is_active =", is_active, "->", type(is_active))

is_active = True -> <class 'bool'>

In [ ]:
# 3. String
teks = "Hello, Python!"
print("teks =", teks, "->", type(teks))

teks = Hello, Python! -> <class 'str'>

In [ ]:
# 4. List
daftar_angka = [1, 2, 3, 4, 5]
print("daftar_angka", daftar_angka, "->", type(daftar_angka))

daftar_angka [1, 2, 3, 4, 5] -> <class 'list'>

In [ ]:
# 5. Tuple
koordinat = (10, 20)
print("koordinat =", koordinat, "->", type(koordinat))

koordinat = (10, 20) -> <class 'tuple'>

In [ ]:
# 6. Dictionary
data_mahasiswa = {
    "nama": "Andi",
    "nim": "All.2022.12345",
    "jurursan": "Teknik Informatika"
}
print("data_mahasiswa =", data_mahasiswa, "->", type(data_mahasiswa))

data_mahasiswa = {'nama': 'Andi', 'nim': 'All.2022.12345', 'jurursan': 'Teknik Informatika'} -> <class 'dict'>

In [ ]:
# 7. Set
himpunan_angka = {1, 2, 3, 2, 1}
print("himpunan_angka =", himpunan_angka, "->", type(himpunan_angka))

himpunan_angka = {1, 2, 3} -> <class 'set'>

In [ ]:
# 8. Contoh Penggunaan Konversi Tipe Data
nilai_str = "100"
print("nilai_str =", nilai_str, "->", type(nilai_str))
nilai_int = int(nilai_str)
print("nilai_int =", nilai_int, "->", type(nilai_int))

nilai_str = 100 -> <class 'str'>
nilai_int = 100 -> <class 'int'>

In [ ]:
# Praktikum 2: Variabel dan Operasi Dasar

In [ ]:
# 1. Pendeklarasian Variabel
nama = "Budi"
umur = 20
tinggi = 170.5
is_student = True

print("Nama =", nama)
print("Umur =", umur)
print("Tinggi =", tinggi)
print("Mahasiswa =", is_student)

Nama = Budi
Umur = 20
Tinggi = 170.5
Mahasiswa = True

In [ ]:
# 2. Operasi Aritmetika
a = 10
b = 3

penjumlahan = a + b
pengurangan = a - b
perkalian = a * b
pembagian = a / b
modulus = a % b
pangkat = a ** b

print("\nOperasi Aritmetika")
print("a =", a,"b =", b)
print("Penjumlahan =", penjumlahan)
print("Pengurangan =", pengurangan)
print("Perkalian =", perkalian)
print("Pembagian =", pembagian)
print("Modulus =", modulus)
print("Pangkat =", pangkat)

Operasi Aritmetika
a = 10 b = 3
Penjumlahan = 13
Pengurangan = 7
Perkalian = 30
Pembagian = 3.3333333333333335
Modulus = 1
Pangkat = 1000

In [ ]:
# 3. Operasi Perbandingan
lebih_besar = a > b
kurang_dari = a < b
sama_dengan = a == b
tidak_sama_dengan = a != b
lebih_besar_sama_dengan = a >= b
kurang_dari_sama_dengan = a <= b

print("\nOperasi Perbandinganan")
print("a > b =", lebih_besar)
print("a < b =", kurang_dari)
print("a == b =", sama_dengan)
print("a != b =", tidak_sama_dengan)
print("a >= b =", lebih_besar_sama_dengan)
print("a <= b =", kurang_dari_sama_dengan)

Operasi Perbandinganan
a > b = True
a < b = False
a == b = False
a != b = True
a >= b = True
a <= b = False

In [ ]:
# 4. Operasi Logika
x = True
y = False

logika_and = x and y
logika_or = x or y
logika_not = not x

print("\nOperasi Logika")
print("x =", x, ", y =", y)
print("x and y =", logika_and)
print("x or y =", logika_or)
print("not x =", logika_not)

Operasi Logika
x = True , y = False
x and y = False
x or y = True
not x = False

In [ ]:
# 5. Contoh penggunaan di dalam percabangan
if a > b and b > 0:
  print("\nKondisi terpengaruhi: a lebih besar dari b, dan b masih positif.")
else:
  print("\nKondisi tidak terpengaruhi atau b <= 0.")

Kondisi terpengaruhi: a lebih besar dari b, dan b masih positif.

In [ ]:
# Praktikum 3: Percabangan

In [ ]:
# 1. IF sederhana
nilai = 85
print("Contoh IF sederhana:")
if nilai >80:
  print("Selamat! Anda lulus dengan nilai tinggi.\n")

Contoh IF sederhana:
Selamat! Anda lulus dengan nilai tinggi.

In [ ]:
# 2. IF - ELSE
umur = 17
print("Contoh IF-ELSE:")
if umur >= 18:
  print("Anda sudah cukup umur untuk mendapatkan SIM.")
else:
  print("Anda belum cukup umur untuk mendapatkan SIM.\n")

Contoh IF-ELSE:
Anda belum cukup umur untuk mendapatkan SIM.

In [ ]:
# 3. IF-ELIF-ELSE
hari = "Rabu"
print("Contoh IF-ELIF-ELSE:")
if hari == "Senin":
  print("Hari Senin - Sattnya kembali bekerja!")
elif hari == "Selasa":
  print("Hari Selasa - Jadwal rapat mingguan.")
elif hari == "Rabu":
  print("Hari Rabu - Ada diskon di beberapa toko")
else:
  print("")

Contoh IF-ELIF-ELSE:
Hari Rabu - Ada diskon di beberapa toko

In [1]:
# 4. NESTED IF
suhu = 35
print("Contoh IF Bersarang (Nested IF):")
if suhu > 30:
     print("Cuaca cukup panas.")
     if suhu > 40:
         print("Bahkan sangat terik! Disarankan banyak minum air.")
     else:
         print("Masih relatif normal, tapi tetap jaga kesehatan.")
else:
  print("Cuaca sepertinya cukup sejuk.\n")

Contoh IF Bersarang (Nested IF):
Cuaca cukup panas.
Masih relatif normal, tapi tetap jaga kesehatan.

In [2]:
# 5. Menggabungkan Percabangan dengan Operasi Logika
nilai_teori = 75
nilai_praktik = 80
print("Contoh IF dengan Operasi Logika AND/OR:")
if nilai_teori >= 70 and nilai_praktik >= 70:
  print("Anda lulus karena nilai teori dan praktik memadai.")
elif nilai_teori < 70 and nilai_praktik < 70:
  print("Anda perlu meningkatkan nlai teori dan praktik.")
elif nilai_teori < 70:
  print("Anda perlu meningkatkan nilai teori")
else:
  print("Anda perlu meningkatkan nilai praktik.\n")

Contoh IF dengan Operasi Logika AND/OR:
Anda lulus karena nilai teori dan praktik memadai.

In [3]:
# 6. Penggunaan IF Ternary (Conditional Expression)
angka = -5
print("Contoh IF Ternary (Conditional Expression):")
status = "Positif" if angka > 0 else "Negatif atau Nol"
print("Angka =", angka, "=>", status)

Contoh IF Ternary (Conditional Expression):
Angka = -5 => Negatif atau Nol

In [4]:
# Praktikum 4: Perulangan

In [5]:
# 1. FOR Loop dengan range()
print("1) FOR loop dengan range()")
for i in range(5):
  print("Perulangan ke-", i)
print()

1) FOR loop dengan range()
Perulangan ke- 0
Perulangan ke- 1
Perulangan ke- 2
Perulangan ke- 3
Perulangan ke- 4

In [6]:
# 2. FOR Loop untuk mngiterasi List
print("2) FOR Loop mengiterasi List")
buah = ["apel", "mangga", "jeruk", "pisang"]
for item in buah:
  print("Buah:", item)
print()

2) FOR Loop mengiterasi List
Buah: apel
Buah: mangga
Buah: jeruk
Buah: pisang

In [7]:
# 3. WHILE Loop
print("3) WHILE Loop sederhana")
count = 0
while count < 5:
  print("count =", count)
  count += 1
print()

3) WHILE Loop sederhana
count = 0
count = 1
count = 2
count = 3
count = 4

In [8]:
# 4. BREAK pada Loop
print("4) BREAK di dalam loop")
for i in range(10):
  if i == 3:
    print("Loop dihentikan pada i =", i)
    break
  print("i =", i)
print()

4) BREAK di dalam loop
i = 0
i = 1
i = 2
Loop dihentikan pada i = 3

In [9]:
# 5. CONTINUE pada Loop
print("5) CONTINUE di dalam Loop")
for i in range(5):
  if i == 2:
    print("Lewati i=", i, "dengan continue")
    continue
  print("i =", i)
print()

5) CONTINUE di dalam Loop
i = 0
i = 1
Lewati i= 2 dengan continue
i = 3
i = 4

In [10]:
# 6. NESTED Loop
print("6) NESTED Loop")
for i in range(3):
  for j in range(2):
    print(f"i ={i}, j ={j}")
print()

6) NESTED Loop
i =0, j =0
i =0, j =1
i =1, j =0
i =1, j =1
i =2, j =0
i =2, j =1

In [11]:
# 7. Memanfaatkan ELSE pada LOOP
print("7) ELSE pada LOOP for/while")
for x in range(3):
  print("x =", x)
else:
  print("Loop for telah selesai tanpa break.\n")

y = 0
while y < 3:
  print("y =", y)
  y+= 1
else:
  print("Loop while telah selesai tanpa break.\n")

7) ELSE pada LOOP for/while
x = 0
x = 1
x = 2
Loop for telah selesai tanpa break.

y = 0
y = 1
y = 2
Loop while telah selesai tanpa break.

In [13]:
# 8. PASS sebagai placeholder
print("8) PASS (placeholder)")
for i in range(3):
  if i == 1:
    pass
  print("i =", i)

8) PASS (placeholder)
i = 0
i = 1
i = 2