<a href="https://colab.research.google.com/github/isawich/2025_PBO_TI1C/blob/main/Jobsheet_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Praktikum 1: Tipe Data Dasar

In [2]:
# 1. Number (int, float, complex)
# Integer (int)
angka_int = 10
print("angka_int =", angka_int, "->", type(angka_int))

angka_int = 10 -> <class 'int'>

In [3]:
# Float
angka_float = 3.14
print("angka_float =", angka_float, "->", type(angka_float))

angka_float = 3.14 -> <class 'float'>

In [4]:
# Complex
angka_complex = 2 + 3j
print("angka_complex =", angka_complex, "->", type(angka_complex))

angka_complex = (2+3j) -> <class 'complex'>

In [5]:
# 2. Boolean
is_active = True
print("is_active =", is_active, "->", type(is_active))

is_active = True -> <class 'bool'>

In [6]:
# 3. String
teks = "Hello, Python!"
print("teks =", teks, "->", type(teks))

teks = Hello, Python! -> <class 'str'>

In [7]:
# 4. List
daftar_angka = [1, 2, 3, 4, 5]
print("daftar_angka", daftar_angka, "->", type(daftar_angka))

daftar_angka [1, 2, 3, 4, 5] -> <class 'list'>

In [8]:
# 5. Tuple
koordinat = (10, 20)
print("koordinat =", koordinat, "->", type(koordinat))

koordinat = (10, 20) -> <class 'tuple'>

In [9]:
# 6. Dictionary
data_mahasiswa = {
    "nama": "Andi",
    "nim": "All.2022.12345",
    "jurursan": "Teknik Informatika"
}
print("data_mahasiswa =", data_mahasiswa, "->", type(data_mahasiswa))

data_mahasiswa = {'nama': 'Andi', 'nim': 'All.2022.12345', 'jurursan': 'Teknik Informatika'} -> <class 'dict'>

In [10]:
# 7. Set
himpunan_angka = {1, 2, 3, 2, 1}
print("himpunan_angka =", himpunan_angka, "->", type(himpunan_angka))

himpunan_angka = {1, 2, 3} -> <class 'set'>

In [11]:
# 8. Contoh Penggunaan Konversi Tipe Data
nilai_str = "100"
print("nilai_str =", nilai_str, "->", type(nilai_str))
nilai_int = int(nilai_str)
print("nilai_int =", nilai_int, "->", type(nilai_int))

nilai_str = 100 -> <class 'str'>
nilai_int = 100 -> <class 'int'>

In [12]:
# Praktikum 2: Variabel dan Operasi Dasar

In [13]:
# 1. Pendeklarasian Variabel
nama = "Budi"
umur = 20
tinggi = 170.5
is_student = True

print("Nama =", nama)
print("Umur =", umur)
print("Tinggi =", tinggi)
print("Mahasiswa =", is_student)

Nama = Budi
Umur = 20
Tinggi = 170.5
Mahasiswa = True

In [14]:
# 2. Operasi Aritmetika
a = 10
b = 3

penjumlahan = a + b
pengurangan = a - b
perkalian = a * b
pembagian = a / b
modulus = a % b
pangkat = a ** b

print("\nOperasi Aritmetika")
print("a =", a,"b =", b)
print("Penjumlahan =", penjumlahan)
print("Pengurangan =", pengurangan)
print("Perkalian =", perkalian)
print("Pembagian =", pembagian)
print("Modulus =", modulus)
print("Pangkat =", pangkat)

Operasi Aritmetika
a = 10 b = 3
Penjumlahan = 13
Pengurangan = 7
Perkalian = 30
Pembagian = 3.3333333333333335
Modulus = 1
Pangkat = 1000

In [15]:
# 3. Operasi Perbandingan
lebih_besar = a > b
kurang_dari = a < b
sama_dengan = a == b
tidak_sama_dengan = a != b
lebih_besar_sama_dengan = a >= b
kurang_dari_sama_dengan = a <= b

print("\nOperasi Perbandinganan")
print("a > b =", lebih_besar)
print("a < b =", kurang_dari)
print("a == b =", sama_dengan)
print("a != b =", tidak_sama_dengan)
print("a >= b =", lebih_besar_sama_dengan)
print("a <= b =", kurang_dari_sama_dengan)

Operasi Perbandinganan
a > b = True
a < b = False
a == b = False
a != b = True
a >= b = True
a <= b = False

In [16]:
# 4. Operasi Logika
x = True
y = False

logika_and = x and y
logika_or = x or y
logika_not = not x

print("\nOperasi Logika")
print("x =", x, ", y =", y)
print("x and y =", logika_and)
print("x or y =", logika_or)
print("not x =", logika_not)

Operasi Logika
x = True , y = False
x and y = False
x or y = True
not x = False

In [17]:
# 5. Contoh penggunaan di dalam percabangan
if a > b and b > 0:
  print("\nKondisi terpengaruhi: a lebih besar dari b, dan b masih positif.")
else:
  print("\nKondisi tidak terpengaruhi atau b <= 0.")

Kondisi terpengaruhi: a lebih besar dari b, dan b masih positif.

In [18]:
# Praktikum 3: Percabangan

In [19]:
# 1. IF sederhana
nilai = 85
print("Contoh IF sederhana:")
if nilai >80:
  print("Selamat! Anda lulus dengan nilai tinggi.\n")

Contoh IF sederhana:
Selamat! Anda lulus dengan nilai tinggi.

In [20]:
# 2. IF - ELSE
umur = 17
print("Contoh IF-ELSE:")
if umur >= 18:
  print("Anda sudah cukup umur untuk mendapatkan SIM.")
else:
  print("Anda belum cukup umur untuk mendapatkan SIM.\n")

Contoh IF-ELSE:
Anda belum cukup umur untuk mendapatkan SIM.

In [21]:
# 3. IF-ELIF-ELSE
hari = "Rabu"
print("Contoh IF-ELIF-ELSE:")
if hari == "Senin":
  print("Hari Senin - Sattnya kembali bekerja!")
elif hari == "Selasa":
  print("Hari Selasa - Jadwal rapat mingguan.")
elif hari == "Rabu":
  print("Hari Rabu - Ada diskon di beberapa toko")
else:
  print("")

Contoh IF-ELIF-ELSE:
Hari Rabu - Ada diskon di beberapa toko